---
title: Curriculum for DHRI@SMU
layout: default
---

<section id="content" class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto text-center">
      <h2 class="text-primary text-center">
	Sessions
      </h2>
    <hr style="margin-bottom: 2rem" class="hr hr-primary" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">

      <p>Below is a list of workshops that will be offered during  DHRI at SMU. Workshops build on each other such that successive workshops use skills developed in earlier ones.</p>
      <p><b>We are in the process of updating and refining the 2020 curriculum. To see the sessions offered in 2019 <a href ="https://dhrismu.github.io/home/curriculum.html"> click here</a></b></p>

    </div>
  </div>

    <div class="col-md-6 curriculum-box-offset offset-md-3">
      <table class="table table-striped" id="top">


	{% for course in site.courses %}
	<tr>
	  <td>{{ course.name }}</td>
	  <td><a href="#{{ course.link-reference }}">details</a></td>
	  <td><a href="{{ course.url }}" target="_blank">repo</a></td>
	</tr>
      {% endfor %}

      </table>
    </div>

{% for course in site.courses %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card" id="{{ course.link-reference }}">
        <div class="card-block">
          <div class="btn-group btn-group-sm pull-right" role="group" aria-label="{{ course.name }}">
            <a href="{{ course.url }}" class="btn btn-primary"><i class="fa fa-github"></i></a>
            <a href="#content" class="btn btn-primary"><i class="fa fa-chevron-up"></i></a>
          </div>
          <h4 class="card-title"><a href="{{ course.link-reference }}">{{ course.name }}</a></h4>

          <p class="card-text">
	    {{ course.description }}
	  </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>
