---
title: Digital Humanities Research Institute
---


<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top">

    <!-- Navigation -->
    {% include nav.html %}


    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
	      {{ site.title }}
            </h1>
            <hr class="light my-4">
          </div>
          <div class="col-lg-8 mx-auto">

	    <h2 class="text-white">{{ site.date-range }}</h2>
	    <h2 class="text-white">Hosted by <a class="text-white" href="{{ site.host-institution-url }}">{{ site.host-institution }}</a></h2><br>
           
          </div>
        </div>
      </div>
    </header>


    <section class="bg-primary" id="about">
      <div class="container">
	<div class="col-lg-12 mx-auto text-center">
	  <h2 class="section-heading text-white">
	    What  is the Digital Humanities Research Institute at Southern Methodist University?
	  </h2>
          <hr class="light my-4">

	  <div class="text-white">
      <p>The Digital Humanities Research Institute (DHRI) at SMU is a workshop to be held in Summer 2019 at Fondren Library, SMU.  DHRI at SMU is still in the planning stages. If you are interested in helping shape this, please contact Rafia Mirza <a href="mailto:rmirza@smu.edu"> at rmirza@smu.edu</a></p>
  

	  </div>
	</div>
      </div>
    </section>    








    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Reasons to Participate</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-connectdevelop text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Build Community
	      </h3>
              <p class="text-muted mb-0">
		Engage with leaders who are passionate about using digital tools to enhance their work.
	      </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-laptop text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Learn New Skills
	      </h3>
              <p class="text-muted mb-0">
		Build technical and professional skills through collaborative and group-oriented workshops
	      </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">


              <i class="fa fa-4x fa-cogs text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Share Resources
	      </h3>
              <p class="text-muted mb-0">
		Learn how to teach, adapt, and share our open curricula with others.
	      </p>


            </div>
          </div>

        </div>
      </div>
    </section>




    <section id="topics" class="bg-primary">
      <div class="container">
	<div class="row">
	  <div class="col-lg-12 mx-auto text-center">
	    <h2 class="section-heading text-white">What to Expect</h2>
            <hr class="light my-4">
          </div>
	</div>

	<div class="row">
                     
            <p class="text-white"> The goal for DHRI@SMU is to create an intensive, community-oriented, and foundational approach to learning technical skills in service of humanities teaching and learning.</p>
          </div>
	</div>
      </div>
    </section>

    <div class="container">
      <br>
      <div class="row">
	<div class="col-lg-6">
	  <h2 class="section-heading ">About Us</h2>
	  <p>
	    {{ site.author.description }}
	  </p>
	  <br>
	</div>

	<div class="col-lg-6">
	  <h3>{{ site.author.name }}</h3>
	  {{ site.author.address }}
          <a href="{{ site.author.url }}">Website</a><br />
          <a class="no-animate" href="https://twitter.com/{{site.author.twitter}}">@{{ site.author.twitter }}</a>
	</div>
      </div>
    </div>




    {% include scripts.html %}



  </body>

</html>
