<footer class="bg-dark p-t-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a href="http://www.neh.gov" target="_blank"><img src="/images/logos/national-endowment-of-the-humanities-hres.png" alt="National Endowment of the Humanities - logo" class="img-fluid" /></a>
        </div>
        <div class="col-xs-1">
          &nbsp;
        </div>
        <div class="col-xs-4">
          <a href="https://gcdi.commons.gc.cuny.edu" target="_blank"><img src="/images/logos/gcdi-white.png" alt="CUNY - logo" class="float-left h-25" style="width:100%; height:auto;" /></a>
        </div>
        <div class="col-xs-1">
          <a href="http://www.gc.cuny.edu" target="_blank"><img src="/images/logos/gc-white-hres.png" alt="The Graduate Center CUNY - logo" class="img-fluid float-left h-50" /></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 p-t-1">
          <small><p style="font-family:'Open Sans', Helvetica; font-weight:300;">GC Digital Humanities Research Institutes are funded through a generous grant from the National Endowment of the Humanities.</p></small>
        </div>
        <div class="col-xs-4">
          &nbsp;
        </div>
        <div class="col-xs-2">
          <a href="http://www.cuny.edu" target="_blank"><img src="/images/logos/cuny-white-hres.png" alt="CUNY - logo" class="img-fluid" /></a>
        </div>
      </div>