<footer class="bg-dark p-t-2">
    <div class="container">
      <div class="text-xs-center text-md-left col-md-6 col-xs-12">
        <h3>Sponsors</h3>
      </div>      
      <div class="row">
        <div class="col-sm-4">
          <a href="http://www.neh.gov" target="_blank"><img src="/img/neh.png" alt="National Endowment of the Humanities - logo" class="img-fluid" style="width:100%; height:auto;"  /></a>
        </div>
        <div class="col-sm-4">
            <a href="http://dhinstitutes.org/" target="_blank"><img src="/img/dhri.png" alt="Digital Humanities Research Institute - logo"  class="img-fluid" style="width:100%; height:auto;"  /></a>
          </div>
             <div class="col-sm-4">
          <a href="https://www.smu.edu/Libraries/fondren" target="_blank"><img src="blob/master/img/SMU_libraries.png" alt="SMU libraries - logo" class="img-fluid" /></a>
  
        </div>
       
      </div>


