<<footer class="bg-dark p-t-2">
  <div class="container">
    <div class="text-xs-center text-md-left col-md-6 col-xs-12">

    </div>      
    <div class="row">
      <div class="col-sm-6">
          <a href="https://southernmethodistuniversity.github.io/home/about.html" target="_blank">
            <img src="{{ home }}/home/img/dhri2.png" alt="Digital Humanities Research Institute - logo"  class="img-fluid" style="width:100%; height:auto;"  />
          </a>
        </div>
        <div class="col-sm-6">
          <a href="https://www.smu.edu/Libraries/" target="_blank">
            <img src="{{ home }}/home/img/SMUlibraries.png" alt="SMU libraries - logo" class="img-fluid" style="width:100%; height:auto;"/>
          </a>
        </div>
    </div>
</footer>


